@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s ease;
}

.warning{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #373737;
    font-size: 1rem;
    padding: 20px 0;
}

header {
    width: 100%;
    position: relative;
}

header nav{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #343434;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    z-index: 2000;
}

header nav a{
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 14px 0;
    z-index: 1;
    width: 100%;
    font-size: 1.4rem;
    border: 2px solid #000;
    border-top-width: 0;
    border-bottom-width: 4px;
    transition: all 0.5s ease;
}

header nav::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg, #1976d2 0 calc(20vw - 3px), #f57c00 0 calc(40vw - 6px), #d32f2f 0 calc(60vw - 10px), #388e3c 0 calc(80vw - 13px), #7b1fa2 0 100vw);
    animation: scroll-progress linear;
    animation-timeline: scroll(root);
}

@keyframes scroll-progress {
    100% {
        width: 100%;
    }
}

header nav a:nth-child(2):hover{
    background-color: #f57c00;
}

header nav a:nth-child(3):hover{
    background-color: #d32f2f;
}

header nav a:nth-child(4):hover{
    background-color: #388e3c;
}

header nav a:nth-child(5):hover{
    background-color: #7b1fa2;
}

div.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: #fff;
    border-bottom: 3px solid #000;
    font-size: 4rem;
}

div.section p{
    font-size: 1.25rem;
}

div.section2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    color: #fff;
    border-bottom: 3px solid #000;
    font-size: 4rem;
}

div.section2 p{
    font-size: 1.25rem;
}

div.section .scroll{
    position: absolute;
    bottom: 20%;
    left: 50%;
    font-size: 30px;
    color: #fff;
    transform: translate(0, -50%);
    transition: all 0.5s;
}

div.section .scroll:hover{
    opacity: 0.7;
}

div.section .scroll::before{
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: -1;
    content: '';
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0;
    }
    15%, 45% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

div#main{
    background-color: #1976d2;
}

div#use{
    background-color: #f57c00;
}

div#origin{
    background-color: #d32f2f;
}

div#maker{
    background-color: #388e3c;
}

div#tech{
    background-color: #7b1fa2;
}

@media screen and (max-width: 580px) {
    
    header nav a{
        font-size: 1.2rem;
    }

    .hint::after{
        content: "";
    }
}

.intro{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
}

.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* 製作者 */

.maker-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    position: relative;
}


.maker-container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 400px;
}

.maker-container h1 {
    font-size: 36px;
    margin: 10px 0 5px 0;
    line-height: 1.2;
}

.maker-container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 10px 0;
}

.maker-container img{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    flex-shrink: 0; 
    margin-bottom: 15px;
}

.maker-container span{
    font-size: 14px;
}

.maker-container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.maker-container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.maker-container div.profile{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.maker-container .form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.maker-container .sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.maker-container.active .sign-in{
    transform: translateX(100%);
}

.maker-container .sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.maker-container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.maker-container .toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 30px 0 0 30px;
    z-index: 1000;
}

.maker-container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 30px 30px 0;
}

.maker-container .toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.maker-container.active .toggle{
    transform: translateX(50%);
}

.maker-container .toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.maker-container .toggle-left{
    transform: translateX(-200%);
}

.maker-container.active .toggle-left{
    transform: translateX(0);
}

.maker-container .toggle-right{
    right: 0;
    transform: translateX(0);
}

.maker-container.active .toggle-right{
    transform: translateX(200%);
}

