button {
    font-size: 10px;
}
.set {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: gold;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    padding: 20px;
    padding-top: 0px;
    max-height: 85vh;
    overflow-y: auto;
    box-sizing: border-box;
    transform: translateY(calc(-100% + 35px));
    transition: transform 0.4s ease
}

.set::-webkit-scrollbar {
    width: 6px;
}
.set::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}

.set.open {
    transform: translateY(0) !important;
}

.back{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    z-index: 900;
}

.setThings {
    font-weight: bold;
    font-size: 1.5em;
}

.setWaitTime {
    width: 30px;
}

.pic {
    width: 20%;
}
.result {
    padding-top: 10%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.flex-container>div {
    text-align: left;
    text-align: justify;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    .flex-container>div{
        height: auto;
        width: 100%;
        overflow: hidden;
    }
}

.result-table { width: 100%; border-collapse: collapse; margin-top: 20px; }
.result-table th, .result-table td { border: 1px solid #ddd; padding: 12px; text-align: center; }
.result-table th { background-color: #f4f4f4; }
.badge { padding: 4px 8px; border-radius: 4px; color: white; font-weight: bold; }
.tra { background-color: #090980; }
.hsr { background-color: #db5426; }

/* #result-drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: white;
    box-shadow: 0 -5px 20px rgba(0,0,0,0.1);
    border-radius: 20px 20px 0 0;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1000;
    
    transform: translateY(calc(80vh - 60px));
}

#result-drawer.drawer-open {
    transform: translateY(0);
}

#drawer-handle {
    width: 40px;
    height: 5px;
    background: #ccc;
    border-radius: 10px;
    margin: 12px auto;
    cursor: pointer;
}

.drawer-content {
    padding: 0 20px 20px;
    overflow-y: auto;
    height: calc(100% - 40px);
} */
